<div id="<%= dom_id reccipe %>">
  <p>
    <strong>Name:</strong>
    <%= reccipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= reccipe.ingredients %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= reccipe.content %>
  </p>

</div>
